<!DOCTYPE html>
<html lang="pt-br">
<head>
   <!-- Meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  
  <!--Navbar-->
<nav class="navbar navbar-expand-md navbar-light bg-light">

  <a href="#" class="navbar-brand">ESTOQUE DE MATERIAIS</a>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a href="index.html" class="nav-item nav-link active">Categoria</a>
          <a href="material.html" class="nav-item nav-link">Materiais</a>
      </div>
  </div>
</nav>
  <!--/.Navbar-->

<div id="container" style="margin-top:10px; margin-left: 20px;">
  <h2 id="titulo">Cadastrar Categorias</h2>
  <div id="container" class="col-md-8">
    <div>
      <div>
        <label for="">Nome da Categoria</label>
        <input type="text" class="form-control" id="ipt-nome" required>
      </div>
    </div>
  
    <div style="margin-top: 10px;">
        <button id="btnSalvar" onclick="objectoFactory()" class="btn btn-primary">Cadastrar</button>
        <button id="btnEditar" onclick="objectoFactory(jsonDocument.id)" class="btn btn-primary">Salvar</button>
        <button id="btnCancelar" onclick="Cancelar()" class="btn btn-Warning" >Limpar</button>
    </div>
  
    <table style="margin-top: 30px;" class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Categoria</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

  </div>
</div>


  <script >
      var tbody = document.querySelector('table tbody');
      var jsonDocument;
      
      var btnSalvar = document.querySelector('#btnSalvar');
      var btnCancelar = document.querySelector('#btnCancelar');
      var btnEditar = document.querySelector('#btnEditar');
      var titulo = document.querySelector('#titulo');

      btnEditar.style.display = 'none';

      function objectoFactory(ObjectId){
        var _nomeCategoria = document.getElementById("ipt-nome").value;

        if(ObjectId === undefined){
          
          jsonDocument ={
            CategoryName:_nomeCategoria
          }
        
          Cadastrar(jsonDocument);
          
        }else{

          jsonDocument ={
            Id: ObjectId,
            CategoryName:_nomeCategoria
          }

          Editar(jsonDocument);
          Cancelar();

        }

        Listar();

      }

      function Cadastrar(objeto)
      {
        let xhr = new XMLHttpRequest();
        xhr.open('POST','http://localhost:5000/v1/categories/criar',false);
        xhr.setRequestHeader('content-type','application/json');     
        xhr.send(JSON.stringify(objeto));
      
      }

      function Editar(objeto){
        let xhr = new XMLHttpRequest();
        xhr.open('PUT','http://localhost:5000/v1/categories/editar',false);
        xhr.setRequestHeader('content-type','application/json');
        xhr.send(JSON.stringify(objeto));
      }   
      
      function Deletar(id){
        let xhr = new XMLHttpRequest();
        xhr.open('DELETE',`http://localhost:5000/v1/categories/remover/${id}`,false);
        xhr.send();
        
        Listar();
      }

      function Listar(){
        tbody.innerHTML = '';

        let xhr = new XMLHttpRequest();
        xhr.open('GET',`http://localhost:5000/v1/categories/listar`,true);

        xhr.onload = function(){
           var listCategorias = JSON.parse(this.responseText);
          
           for (let c in listCategorias){
                AdicionarLinhas(listCategorias[c]);
           }
          
        }

        xhr.send();
    }
      

      //FUNÇÕES DE APOIO
      function AdicionarLinhas(categoria){

        var trow = `<tr>
                        <td>${categoria.id}</td>
                        <td>${categoria.categoryName}</td>
                        <td>
                          <button onClick='editarLinha(${JSON.stringify(categoria)})' class='btn btn-Warning'>Editar</button>
                          <button onClick='Deletar(${JSON.stringify(categoria.id)})' class='btn btn-danger'>Deletar</button>
                        </td>
                    <tr>`;
                      
        tbody.innerHTML += trow;
      }

      function editarLinha(objecto){

        btnEditar.style.display = 'inline-block';
        btnSalvar.style.display = 'none';
        
        jsonDocument = objecto;

        titulo.textContent = `Editar Categoria ` + objecto.categoryName;

        //campos
        document.getElementById("ipt-nome").value =objecto.categoryName;      

      }

      function Cancelar(){

        btnEditar.style.display = 'none';
        btnSalvar.style.display = 'inline-block';

        titulo.textContent = 'Cadastrar';
        
        ResetarTela();

      }

      function ResetarTela(){

        //campos
        document.getElementById("ipt-nome").value = '';
      }


      Listar();
  </script>  


   <!-- JS Dependências do Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>